#test-bg {
  height: 350px;
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
  user-select: none;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
