#MobileMenuIcon {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bar {
  padding: 2px 16px;
  margin: 3px 0;
  background-color: black;
  transition: 0.4s all ease;
}
.menuIcon-active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(8px) translateX(5px)
}
.menuIcon-active .bar:nth-child(2) {
  opacity: 0;
    transform: rotate(180deg);
}
.menuIcon-active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-9px) translateX(6px)
}