#Nav {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.nav-container {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
}

.nav-menu {
  margin-right: 2rem;
}

.nav-mobileMenu {
  position: absolute;
  top: 5rem;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: 0.5s all ease;
  border-bottom: 1px solid black;
}

.mobileMenu-active {
  background: gray;
  height: 100vh;
  opacity: 1;
}

.content-body {
  z-index: -1;
}

.nav-menuFoldRef {
  /* position: absolute; */
  transition: 0.5s all ease;
  width: 100vw;
  height: 0;
  opacity: 0;
  border: 1px solid blue;
}

.menuFoldRef-active {
  height: 15vh;
  opacity: 1;
  border: 1px solid blue;
}
